@import "responsiveness";

:host {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #bbb;
  grid-template-areas:
    "map"
    "panel";
  grid-template-rows: auto 1fr;
  grid-template-columns: 100vw;

  & > .map {
    grid-area: map;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & > .name {
      font-size: 1.5rem;
      font-family: "MontserratLight", sans-serif;
    }
  }

  & > .panel {
    grid-area: panel;
    display: grid;
    grid-template-areas:
      "guesser"
      "guessed"
      "timer";
    grid-template-rows: 8rem 1fr 8rem;
    grid-template-columns: 100%;
    background-color: #aaa;
    & > .guesser {
      grid-area: guesser;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      justify-content: center;
      align-items: center;
      background-color: #aaa;

      & > span {
        font-size: 1.55rem;
        font-weight: 700;
      }

      & > input {
        font-size: 1.25rem;
        text-align: center;
        width: 80%;
      }
    }

    & > .history {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 2rem;
      row-gap: 1rem;
      overflow: hidden;

      & > div {
        font-size: 1.25rem;
      }
    }

    & > .timer {
      grid-area: timer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 4rem;

      & > span {
        font-size: 1.25rem;
      }
    }
  }

  @include for-tablet-landscape-up {
    grid-template-areas: "panel map";
    grid-template-rows: 100vh;
    grid-template-columns: 15vw 85vw;

    & > .map {
      & > .name {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
      }
    }
    & > .panel {
      grid-template-areas:
        "timer"
        "guessed"
        "guesser";
      grid-template-rows: 8rem 1fr 8rem;
      grid-template-columns: 100%;

      & > .history {
        flex-direction: column-reverse;
      }
    }
  }
}
