@import "responsiveness";

:host {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: #bbb;
  grid-template-areas:
    "map"
    "."
    "guesser";
  grid-template-rows: auto 1fr 4rem;
  grid-template-columns: 100vw;

  & > .map {
    grid-area: map;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > .guesser {
    grid-area: guesser;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;

    & > span {
      font-size: 1.55rem;
      font-weight: 700;
    }

    & > input {
      width: 30rem;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  & > .timer {
    grid-area: timer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
  }

  @include for-tablet-landscape-up {
    grid-template-areas:
      ". guesser ."
      ". map ."
      ". map timer"
      ". . timer";
    grid-template-rows: 15vh 70vh 10vh 5vh;
    grid-template-columns: 10vw 80vw 10vw;
  }
}
