<nav>
  <span class="back icon"> arrow_back_ios </span>
</nav>

<section class="panel">
  <section class="guesser">
    <input
      type="text"
      [formControl]="guesser"
      autofocus
      placeholder="Type country name here..."
    />
  </section>
</section>

<section class="map">
  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
</section>

<footer>
  <span class="name">{{ game.map?.name }} </span>
  <span class="timer">
    {{ game.time.minutes > 0 ? game.time.minutes + ":" : ""
    }}{{ game.time.minutes > 0 && game.time.seconds < 10 ? "0" : ""
    }}{{ game.time.seconds }}
  </span>
  <span class="counter">
    {{ game.guessed.length }}/{{ game.map?.countries?.length }}</span
  >
</footer>
