@import "input";
@import "colors";

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "MontserratLight";
  src: url("../public/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Icons";
  src: url("../public/fonts/Icons.ttf");
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "MontserratLight", sans-serif;
  background: $background;
  color: $font;
}

* {
  box-sizing: border-box;
}

.icon {
  font-family: "Icons", sans-serif;
}
